<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myuccfinalprojectapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyUCCFinalProjectApplication">
        <activity
            android:name=".TimeTableDetails"
            android:exported="false" />
        <activity
            android:name=".Data"
            android:exported="false" />
        <activity
            android:name=".Timetable"
            android:exported="false" />
        <activity
            android:name=".Courses"
            android:exported="false" />
        <activity
            android:name=".Admissions"
            android:exported="false" />
        <activity
            android:name=".Social3"
            android:exported="false" />
        <activity
            android:name=".Social2"
            android:exported="false" />
        <activity
            android:name=".Media"
            android:exported="false" />
        <activity
            android:name=".Directory"
            android:exported="false" />
        <activity
            android:name=".Details"
            android:exported="false" />
        <activity
            android:name=".Social"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>